<section class="navbar --bs-primary">
 <ul class="nav_links">
    <li><%= link_to 'Home', root_path %></li>
  </ul>
  <h2>Control Money</h2>
 
  <div>
    <% if user_signed_in? %>
      <p><%= link_to "Sign Out", destroy_user_session_path, data: {
        turbo_method: :delete,
      } %></p>
    <% else %>
      <p><%= link_to "Sign In", new_user_session_path %></p>
    <% end %>
    
  </div>
</section>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>