<div class="container d-flex flex-column text-center">
<h1 class="m-2 mt-5">Conquer the Money</h1>
<div class="fixed-bottom">
<div class="m-2 mt-4 d-flex flex-column text-center bg-primary p-3">
        <h3><%= link_to 'Log In', new_user_session_path, class:'text-decoration-none text-white  p-2 ' %></h2>
    </div>
    <div class="m-2 d-flex flex-column text-center bg-secondary p-3">
        <h3><%= link_to 'Sing Up', new_user_registration_path, class:'text-decoration-none text-white p-2' %></h2>
    </div>
    </div>
</div>